.ul-tab {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 12px 12px 0;
    list-style: none;
    background-color: 
    #f4f7f9;
}

.ul-tab .nav-item .nav-link.active {
    font-weight: 700;
    color:#0db6df !important;
    background: none !important;
    border-bottom: 2px solid
    #0db6df !important;
}
.ul-tab .nav-item .nav-link:hover {
   background-color: #e6eaec;
    color:#0db6df !important;
}
.input-group label {
min-height: 20px;

margin-bottom: 10px;
font-weight: 400;
cursor: pointer;
margin-top: 10px;
}
.form-horizontal .form-group:nth-child(2n+1) {
    background-color: 
    #f8fafb;
}
#cencel-btn{
	display: none;
}