body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1.42857;
    color: #333;
}
.row {
    margin-right: -5px;
    margin-left: -5px;
}

.customvtab .tabs-vertical li .nav-link:focus, .customvtab .tabs-vertical li .nav-link:hover {
    background: #f4f7f9;
    border: 0px;
    border: none;        
    color: #009efb;
     
}
.customvtab .tabs-vertical li .nav-link.active {
    background:#0db5df;
   color:#fff;
  
}



label {
    font-weight: 400;
    padding-bottom: 5px;
}


.shadowed-box {
    box-shadow: 0 1px 4px 0 
    rgba(0,0,0,.1);
}
.cr{
    min-width: 100% !important;
    margin-bottom: 12px !important;
    padding: 10px 16px 12px !important;
}

.employee-header {
    border-bottom: 1px solid 
    #f3f3f3;
    padding: 12px 24px 0;
    width: 100%
}
.employee-title {
    font-weight: 700;
    font-size: 24px;
    margin-top: 0;
}

.create {
    background:#f4f7f9;
    color:#555;
    border-color:transparent;
}
.tab-section{
    max-width: 20%;
    padding: 24px;
    border-right: 1px solid #f3f3f3;
}


.tab-section .nav-item .nav-link{	
    padding: 10px 16px 12px;
    margin-bottom: 8px;
    border-radius: 3px;
    border: 1px solid 
    transparent;
    cursor: pointer;
    font-weight: 600;
    font-size: 13px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;

}
.vtabs .tabs-vertical{
    border: none;
}
.tab-content{	
    padding: 24px;
    max-width: 80%;
    overflow-y: auto;
    height: 75vh;

}
.accordion-header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.accordion-header-title {
    font-size: 16px;
    color: 
    #333;
    font-weight: 600;
}

.b-group{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}
.my-button .attrdiv {
    display: flex;
    flex: 1;
    justify-content: center;
}
.addattr {
    background:#0db5df;
    color:#fff;
    border-color:transparent;
}
.my-button {
    display: inline-block;
    text-decoration: none;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    padding: 8px 12px;
    line-height: 16px;
    border: 2px solid   transparent;       
    border-radius: 4px;
    transition: all .3s ease;
    cursor: pointer;
    outline: none;
}
.name{
    padding: 12px 20px 12px 24px;
    border-radius: 4px;
    border: 1px solid #dce6ec;
    display: flex;
    align-items: center;
   
}
.right-icon {
    margin-right: 16px;
    color:#aaa;
    font-size: 28px;
}
.inputdv span {
    color:#555;
    font-weight: 600;
    font-size: 14px;
}
.inputdv {
    padding: 12px 20px 12px 24px;
    border-radius: 4px;
    border: 1px solid #dce6ec;
    border-bottom: none;
    display: flex;
    align-items: center;
}
.icon {
    color: 
    #dbe5ec;
    margin-left: auto;
    padding-left: 42px;
}
.G2Mft ._1-h8H, .G2Mft:disabled {
    background: 
#f7f7f7;
border-color:
    #f7f7f7;
    opacity: .5;
    cursor: auto;
   pointer-events: none;
}
.G2Mft {
    min-width: 75px;
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    color: #333;
    background: #fff;
    border: 1px solid #dce6ec;       
    border-radius: 2px;
    box-shadow: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: 8px;
    margin: 1px 0 0;
    outline: 15px;
    background:#f7f7f7;
    border-color:#f7f7f7;
   opacity: .5;
cursor: auto;
pointer-events: none;
}
.panel-body{
    padding: 0 8px 16px 54px;
    border-radius: 0 0 4px 4px;
    border: 1px solid  #dce6ec;
    border-top-color: rgb(220, 230, 236);
    border-top: none;
    border-top-color: currentcolor;
}

.strings{
    width: 325px;
    margin-top: 12px;
    background:
#f7f7f7;
border-color:
#f7f7f7;
opacity: .5;
cursor: auto;
pointer-events: none;
}

.coll-title{
    color:#555;
    font-weight: 600;
    font-size: 14px;
}
._333holGKf6kP50GkaibUzr {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.uniqueid{
    width: 180px;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 14px;
}
.name[aria-expanded='true'] .right-icon {
  display: block;
  transform: rotate(90deg) !important;
  
}
.name[aria-expanded='true'] .name-1 {
  display: none;
  
}
.name[aria-expanded='false'] .name-2 {
  display: none;
  
}
.gender{
    margin-top: 2%;
}
.m-input{
    width: 91%;
}
.mr-2{
  margin-left: 15px;  
  background:#f4f7f9;
  color:#555;
  border-color:transparent;  
}

.name-attr {
    min-width: 75px;
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    color:#333;
    border: 1px solid  #dce6ec;
    border-radius: 2px;
    box-shadow: none;
    padding: 8px;
    margin: 1px 0 0;
    outline: 15px;
    opacity: 0.6;
    height: 36px;
    padding: ;
}
.modal-dialog {
    max-width: 647px;
}
.my-model{
    font-size: 20px;
   font-weight: 600;
  color:#333;

}
.num-decimal {
    padding: 0px;
    margin-bottom: 5px;
}
.num-decimal .uniqueid{
   width: 100%;
}
.minimal{
    width: 50%;
}
.delete-section{
    padding: 16px 24px;

}
.dl-ul li {
    color: 
    #555;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 4px;
    list-style-type: disc;
}
